@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
  background-image: url("./assets/bg1.jpg");
  background-position: center;
  background-size: cover;
}
/*section {
    scroll-snap-align: start;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
*/
.outlet{
    min-width: 100vw;
    min-height: auto;
}

/*nav bar*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-width: 100vw;
}

.nav-left {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.nav-left img{
    height: 4rem;
    width: max-content;
    cursor: pointer;
}

.nav-right {
  margin-right: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  font-size: 1.25rem;
  font-weight: 500;
}

.nav-links{
    text-decoration: none;
    color: white;
}
.contact-btn{
  cursor: pointer;
}
.get-app{
  padding: 12px 44px;
  font-size: 1rem;
  background-color: #000da1;
  border-radius: 1.6rem;
  color: white;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}


/*hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
  justify-content: center;
  margin-top: 30vh;
  color: white;
}
.header1 {
  font-size: 4rem;
  font-weight: 700;
}
.header2 {
  font-size: 1rem;
}
.hero button {
  font-size: 1.25rem;
  margin-top: 30px;
  padding: 12px 36px;
  background-color: #000da1;
  font-weight: 700;
  color: white;
  border: none;
  width: 209px;
  border-radius: 30px;
  cursor: pointer;
}

/* slider */
.slider-container{
  min-width: 100vw;
 /*fix */ 
}
.slidertxt{
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  color: #000da1;
}

.sliderh1{
  font-size: 3rem;
  font-weight: 700;
}
.sliderh2{
  font-size: 1.25rem;
}
.slider {
  min-height: 500px;
  margin:auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;

}

.slider-track{  
  display: flex;
  z-index: -1;
  width: calc(400px * 5);
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-400px*5));
  }
}
.slide{
  min-height: 500px;
  min-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.slide img{
  width: 300px;
  height: 533.3px;
  border-radius: 50px;
}

/* how rewire works */
.works {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px 100px;
  gap: 70px;
  justify-content: space-between;
}

.work-left{
    flex: 45%;
    display: flex;
    flex-direction: column;
}
.work-right{
    flex:55%;
    overflow: hidden;
}

.header3 {
  font-size: 3rem;
  font-weight: 700;
  color: #000da1;
  margin-bottom: 20px;
}
.header4 {
  font-size: 1rem;
  font-weight: 400;
  color: #000da1;
  display: flex;
  flex-direction: column;
}
.line{
  margin-bottom: 15px;
}
.boldtxt{
  font-weight: 700;
}
.push{
  font-size: 1rem;
  margin-top: 30px;
  background-color: #000da1;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;

}

.work-right{
  align-items: center;
  justify-content: center;
  text-align: center;

}

.work-right img{
  align-self: center;
  scale: 80%;

}


/* testimonials */
.testimonials {
  min-height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
}

.header6 {
  font-size: 3.25rem;
  font-weight: 700;
  color: #000da1;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-top: 50px;
  overflow: hidden;
}

.all-card {
  width: 361px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 4px;
  border-color: #000da1;
  background-color: grey;
}

/* about us */
.abt-page{
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
.aboutus {
  display: flex;
  flex-direction: row;
  margin: 0px 100px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.abt-img {
  flex: 1;
  box-sizing: border-box;
  border: 10px;
  border-color: #000da1;
  border-radius: 15px;
}
.abt {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #000da1;
}
.abt h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.abt p {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.abtlines{
  margin-bottom: 20px;
}

/*footer*/

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: #000da1;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.footer-top h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.footer-top button {
  min-width: 255px;
  padding: 12px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #000da1;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.footer-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 100px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  color: #000da1;
  gap: 5px;
  align-items: center;
  font-size: 2.25rem;
  font-weight: 400;
  align-items: flex-start;
  font-weight: 700;
}

.footer-right {
  display: flex;
  flex-direction: column;
}
.footer-right img {
  min-width: 300px;
}

.footer-bottom {
  align-self: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/*FaQ*/

.wrapper{
  min-height: 100vh;
  margin: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.faqtitle{
  font-size: 3.25rem;
  color:#000da1;
  font-weight: 700;
  text-align: center;
}
.accordion{
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

}

.faqquestion{
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.symb{
  size: 120%;
  padding: 1px 0px;
}

.accordion-simple > .active {
  display: block;
}

.accordion .inactive{
  display: none;
}

.ans{
  margin: 10px 30px;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

/* contact */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000da1;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.contact-head{
  font-weight: 700;
  font-size: 2rem;
}
.sub-head{
  font-weight: 300;
}
.input-box1{
  height: 30px;
  width: 100%;

}

.input-box2{
  padding-bottom: 90px;
  padding-top: 10px;
  width: 100%;
  overflow-y: hidden;
}

.close-opt{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  margin: 5px 20px;
}

.submit{
  background-color: #000da1;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 40px;
  cursor: pointer;

}
.close{
  background-color: white;
  border: solid 1px #000da1;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 40px;
  cursor: pointer;
  color: #000da1;
}
